<nav class="top-0 gap-4 absolute z-50 w-full flex justify-end px-2 py-3 border-s-slate-900 shadow-md">
  <a routerLink="/about" routerLinkActive="btn-active" class="btn btn-outline btn-info">sobre</a>
  <a routerLink="/pricing" routerLinkActive="btn-active" class="btn btn-outline btn-info">pricing</a>
  <a routerLink="/contact" routerLinkActive="btn-active" class="btn btn-outline btn-info">contact</a>
  <a routerLink="/pokemons" routerLinkActive="btn-active" class="btn btn-outline btn-info">pokemons</a>
</nav>
